
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Numans');
#root {
  overflow: unset !important;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.background-image{
    background-image: url('../images/home/intro.jpg');
    object-fit: cover;
    width: 100%;
    min-height:100vh;
    background: url(../images/home/intro.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



// sign in form

.cursors{
  cursor: pointer;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.signin-outer{
    min-height: 100vh;
    width:50%;
    margin-right:auto;
}
@media screen and (max-width:719px) {
    .signin-outer {
        min-height: 100vh;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    }
  }
  .text-color{
    color: #022202!important;
  }
  @media screen and (max-width:615px) {
    .text-outer {
    width:100%!important;
    margin-right:10px!important;
    margin-left:10px!important;
    }
    .button-outer {
        width:50%!important;
        margin-left:30px!important;
        }
        .text-color{
          color: #022202!important;
          font-size: 34px!important;
          
   
        }
  }

.side-bar{
    width:200px;
    height:100vh;
    background-color: #3580a9;
}

.the-name{
    color:#f4922a;
}

.add-new-btn{
    width:130px;
}
.outer-add-new{
    width:calc(100% - 200px);
}
.title{
    border-bottom: 2px solid #3580a9;
}